<h1>New Bookmark</h1>

<div class="jumbotron">
	
	<h1>Create a New Bookmark!</h1>

	<div class="newFormContainer">
	  <div class="col-md-8">
	    <%= form_for [@topic, @bookmark] do |f| %>
	      <div class="form-group">
	        <%= f.label :link %>
	        <%= f.text_field :link, class: 'form-control', placeholder: "Enter list name" %>
	      </div>
	      <%= f.submit "Save", class: 'btn btn-success' %>
	    <% end %>
	  </div>
	</div>


</div>ra